*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #292929;
    font-family: 'Open Sans', sans-serif;
}
.tabs{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
}
.tab-content{
    position: relative;
    width: 25%;
    min-height: 100vh;
    background-image: linear-gradient(to right, #ffffff, #dddddd);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s linear;
}
.tab-content h2{
    font-size: 6em;
    text-transform: uppercase;
    transform: rotate(-90deg) translateY(0);
    transition: 1s ease;
}
.tab-content p{
    display: none;
}
.tabs:hover .tab-content{
    width: 10%;
}
.tabs .tab-content:hover{
    width: 70%;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.tabs .tab-content:hover h2{
    font-size: 3em;
    transform: rotate(0deg);
}
.tabs .tab-content:hover p{
    display: block;
}